*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
  
  }
  
  .header1{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  body{
      background-color: rgba(247, 247, 217, 0.459);
  }
  
  .contenedorDI{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;
  
  }
  
  .contDI{
      background: radial-gradient(rgba(158, 68, 16, 0.616), rgba(255, 255, 0, 0.219), rgb(212, 172, 61));
      height: 60px;
      box-shadow: 10px 5px 5px black;
      
  }
  
  .contenedor-social{
      font-size: 35px;
      
  }
  
  .homeDI{
      font-size: 25px;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
  }
  
  .contHome{
     color: rgb(61, 42, 6);
  }
  
  .casaH{
      color: rgba(61, 13, 105, 0.89);
  }
  
  .whatsap{
      color: green;
  }
  
  .instagram{
      color: brown;
  }

  .comprar{
      width: 100%;
      max-width: 100%;
  }

  .comprar img{
      width: 100%;
      height: auto;
  }

section{
      margin-top: 60px;
  }

  .botones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    margin-top: 5rem; 
    grid-column-gap: 30px;
    height: 30vh;
    margin: 30px;
  }

  .btnCOMPRAR{
   
    border-radius: 0.7rem;
    background: linear-gradient(70deg, rgb(119, 49, 16), rgb(163, 73, 32));
    font-size: 2rem;
    color: rgb(204, 191, 204);
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem rgba(206, 182, 45, 0.74);
    padding: 30px;
    text-transform: uppercase;
    
  }

  .btnCedis{
    border-radius: 0.7rem;
    background: linear-gradient(70deg, rgb(190, 174, 26), rgb(143, 197, 17));
    font-size: 1.6rem;
    color: rgb(19, 1, 19);
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem rgb(248, 201, 106);
    padding: 20px;
    text-transform: uppercase;
  }

  .Contenido-Cedis{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    text-align: center;
    align-items: center;
    margin-top: 5rem; 
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    background-color: rgba(26, 16, 5, 0.842);
    padding: 40px;
    height: 100%;
   
  }

  .titulo3
  {
    text-align: center;
    background-color: rgb(26, 3, 3);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 2px;
    font-weight: 900;
    padding-top: 30px;
    color: rgba(255, 255, 0, 0.897);
  }

  .Contenido-Cedis .cedis-parrafo{
      font-size: 2rem;
      padding: 40px;
      color: wheat;
      text-align: justify;
  }
  
  .colorCedis{
    color: rgb(158, 72, 238);
  }
  /************************MEDIAS QUERY*************************/

  @media only screen and (max-width: 768px) and (min-width: 380px){
    

    .botones{
        
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        align-items: center;
        margin-top: 5rem; 
        grid-column-gap: 30px;
        height: 30vh;
        margin: 30px;
        
      }

      .btnCOMPRAR{
        font-size: 18px;
        width: 100%;
        
    
      }

      /******************/
      .btnCedis{
        font-size: 1.2rem;
        padding: 15px;
      }
    
      .Contenido-Cedis{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 30px;
        height: 100%;
        
      }
    
      .titulo3
      {
        font-size: 1.6rem;
      }
    
      .Contenido-Cedis .cedis-parrafo{
          font-size: 1.4rem;
          padding: 15px;
          color: wheat;
          text-align:justify;
      }
      
  }
 