
.contacto{
    padding-top: 113px;
    background: linear-gradient(0.25turn, #3b3039, #2e1e0cb9, rgba(233, 231, 233, 0.671));
    height: 100vh;
    
}

.titulos3{
    text-align: center;
    background-color: rgb(245, 241, 241);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    
}

.contenedor-contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;

    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;

    padding: 0 30px;
    
    
}

.recuerda{
    border: 2px solid blanchedalmond;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    font-family:serif;
    background-color: cornsilk;
    /*box-shadow: 20px 10px darkgoldenrod;*/
    font-weight:900;
    width: 100%;  
   
}

.contenedor-contacto .mimagen1{
   /* background-color: rgba(247, 246, 246, 0.445);*/
   /* text-align: center;*/
    border-radius: 10px;
    width: 100%;
    text-align: center;
   
}

.dividir{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
    height: 100%;
    
}



.whas1{
    color: rgb(51, 95, 6);
    font-size: 50px;  
}

.faceb1{
    color: darkblue;
    font-size: 50px;
}

.instag1{
    color: rgba(207, 13, 13, 0.616);
    font-size: 50px;
}

.carritoCompra1{
    color: rgba(105, 90, 8, 0.842);
    font-size: 50px;
}

.codigo{
    font-size: 35px;
    color: darkmagenta;
}



