.testimonio{
   padding-top: 113px;
   background:linear-gradient(0.25turn, #4b0b41, #d1f3555b, rgb(51, 5, 34));
}

.contenedor-testimonio{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, auto);
   grid-row-gap: 10px;
   padding: 0 10px;
   
}

.caja-testimonio{
   width: 100%;
   margin: auto;
   text-align: center;
}

video{
   width: 100%;
   
   
}

.Mititulo {
 
   padding: 20px;
   text-align: center;
   color: rgba(207, 202, 200, 0.966);
   font-size: 35px;
   font-weight: 800;
   text-transform: uppercase;
   padding-bottom: 2px;
   
 }